<%- include('header') -%>
<%- include('menu') -%>
<table class="table col-8 offset-2">
    <caption style="caption-side: top; width: auto; background-color: lightgray; text-align: center">
        <h2><strong>Spells</strong></h2>
    </caption>
    <thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Details</th>
        <th scope="col">Inventor</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <% for (key in spells) { var spell = spells[key]; %>
    <tr>
        <th scope="row"><%= parseInt(key) + 1 %></th>
        <td><%= spell.name %></td>
        <td><%= spell.details %></td>
        <td><%= spell.inventor %></td>
        <th scope="col">
            <a class="btn btn-light" href="/spells/spell/<%=spell._id%>"><i class="fas fa-edit"></i></a>
            <a class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
        </th>
    </tr>
    <% } %>
    </tbody>
</table>
<%- include('footer') -%>